{% extends 'reservas/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Reservas Agendadas:</h1>
    <table class="table table-bordered table-striped">

        <tr>

            <th>id</th>
            <th>nome</th>
            <th>material</th>
            <th>data</th>
            <th>sala</th>
        </tr>
        {% for reserva in reservas %}
        <tr>
            <td>{{reserva.id_reserva}}</td>
            <td>{{reserva.nome}}</td>
            <td>{{reserva.material}}</td>
            <td>{{reserva.data}}</td>
            <td>{{reserva.sala}} <a href="{% url 'editar' reserva.id_reserva %}">Editar</a> <a
                    href="{% url 'delete' reserva.id_reserva %}">Excluir</a></td>

        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}